{
    email admin@liquidator-ex.com
}

liquidator-ex.com, www.liquidator-ex.com, admin.liquidator-ex.com, api.liquidator-ex.com, app.liquidator-ex.com {
    encode gzip zstd
    reverse_proxy api:8000
}
