{
    email admin@liquidator-ex.com
}

liquidator-ex.com, www.liquidator-ex.com {
    encode gzip zstd

    @admin_routes path /login /logout /admin /admin/*
    handle @admin_routes {
        reverse_proxy api:8000
    }

    handle {
        respond "Not Found" 404
    }
}
